.content_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: grow;
  width: 20em;
  width: 100%;
  padding: 2rem;
  padding-left: 0;
  margin-top: 2rem;
}

.column_item {
  display: flex;
  border-bottom: 1px solid black;
}
.item_text {
  display: flex;
}

.column_item img {
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}


.item_key {
  color: black;
}

.item_value {
  color: red;
  margin-left: 1rem;
}


@media only screen and (max-width: 800px) {
  .content_column {
    margin-right: 0;
    margin-top: 2rem;
    padding-left:2rem;
    width: 90%;
    padding-top:0;
    padding-bottom:0;
  }
  .item_key {
      margin-left: 1rem;
  }
  .item_text p {
    align-self: flex-start;
  }
  .item_text {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
