.content_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: grow;
  width: 20em;
  width: 100%;
  padding: 2rem;
  padding-left: 0;
  margin-top: 2rem;
}

.column_item {
  display: flex;
  border-bottom: 1px solid black;
}
.item_text {
  display: flex;
}

.column_item img {
  align-items: center;
  width: 5rem;
}


.item_key {
  color: black;
  margin-left: 1rem;
}

.item_value {
  color: red;
  margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
  .content_column {
    margin-right: 0;
    margin-top: 2rem;
  }
  .item_key {
      margin-left: 1rem;
  }
  .item_text p {
    align-self: flex-start;
  }
  .item_text {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
