.landing_wrapper {
    padding:2rem 10rem;
}

.landing_wrapper button {
    background-color:red;
    color: white;
    border: none;
    padding:0.4rem 1.2rem;
}


@media only screen and (max-width: 800px) {
    .landing_wrapper {
        padding: 1rem 2rem;
    }
  }