.show_card {
  font-family: "Red Hat Display";
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  max-width: 13rem;
}

.show_card p {
  font-family: "Poppins";
  padding: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.show_card img {
  width: auto;
  max-width: 13rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .show_card {
    max-width: 13rem;
  }
  .rating {
    flex-direction: column;
  }
  .show_card img {
    max-width: 13rem;
  }

}
