.show_card {
  font-family: "Red Hat Display";
  max-width: 13rem;
}

.show_card p {
  font-family: "Poppins";
  padding: 1rem;
  padding-left: 0;
  font-weight: 500;
  font-size: 1.2rem;
}
.show_card img {
  width: auto;
  max-width: 13rem;
}

.rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  padding-bottom: 0;
  padding-left: 0;
}

@media only screen and (max-width: 800px) {
  .show_card {
    max-width: 13rem;
  }
  .rating {
    flex-direction: column;
  }
  .show_card img {
    max-width: 13rem;
  }

}
