.home_wrapper {
    margin:auto 5rem;
    padding-top:0;
    font-family: 'Red Hat Display';
}
.show_list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
}


.home_wrapper h1 {
    margin-top: 2rem;
}





@media only screen and (max-width: 800px) {
    .home_wrapper {
        padding:0;
        margin:auto 2rem;
    }

    .show_list {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

   
    
}