.header  {
  padding:2rem 5rem;
  background-color: rgb(41, 113, 113);
  color: white;
  font-family: 'Red Hat Display';
}


                

@media only screen and (max-width: 800px) {
    .header {
      padding: 2rem 2rem;
    }
    .header p {
      display: none;
    }
}